
@media screen and (max-width: 1500px) {
    #header {
        .header-a {
            padding: 4em;
          
        }
      }
}

@media screen and (max-width: 1000px) {

    .container {
        width: 90%;
    }

    .white-space {
        height: 75px;
      }
    
    .white-space {
        height: 5px;
      }

    #header {
        .header-a {
            .container {
                p {
                    img {
                        display: initial;
                    }
                    
                }
            }
        }
    }
   
    #home {
        // Section A
        &-a {
            margin: 0;
            .container {
                grid-template-columns: repeat(1, 1fr);
                text-align: center;
                max-height: none;
            .home {
                &-title {
                    h1 {
                        padding: 0 0 1em 0;
                    }
                }
               
                // GIF
                &-gif {
                    display: flex;
                    flex-direction: column-reverse;
                    width: 100%;
                    

                    img {
                        transform: none;
                        padding-bottom: 2em;
                        margin: auto;
                    }

                    .home-btn {
                        position: relative;
                        width: initial;
                        padding-bottom: 2em;
                    }
                    }
                }
            }
        }
        // Home B
        &-b {
            background: none !important;
            
            .wrap {
                display: flex;
                flex-direction: column-reverse;
                min-height: 800px;
                .img {
                    margin: auto;
                    width: 90%;
                }
                border-left: none;
                border-top: none;
                .bg-red {
                    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
                    -ms-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
                    -o-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
                    -moz-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
                    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
                    div {
                         p {
                            font-size: 28px;
                            text-align: center;
                        }
                    }
                }
            }
            .bottom-border-red {
                display: none;
              }
        }

        // Home C
        &-c {
            .wrap {
                .bg-orange {

                    min-width: 100%;
                    max-width: 100%;
                    ul {
                        margin: 0px 6%;
                        margin: 0px 3vw; 
                        padding: 2em 0;

                        li {
                            &:nth-child(2) {
            
                                form {
                                    display: block;
                                    input {
                                        width: 100%;
                                        margin: 0;

                                        &[type="email"] {
                                            max-width: calc(100% - 1.5em);
                                        }

                                        &[type="submit"] {
                                            width: inherit;
                                            min-width: calc(100% - .5em);
                                            margin: 1em 0;
                                            padding: .5em 1em;
                                            background-color: $blue;
                                            color: #fff;
                                            border: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .img {
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: -1;
                    }
                }
            }
        }
    }

    #footer {
        .footer-a {
            -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
            -moz-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
            -ms-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
            -o-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
            padding: 5em 0 2em 0;

            .container {
                display: block;
                margin-top: 2em;

                .left {
                    p {
                        width: 100%;
                        font-size: 22px;
                    }
                }

                .center {
                    padding-top: .5em;
                    p {
                        text-align: center;
                        
                        img {
                            width: 200px;
                            margin: auto;
                        }
                    }
                    
                }

                .right {
                    padding-top: 1em;
                    h3 {
                        text-align: center;
                    }
                    ul {
                        li {
                            p {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}




@media screen and (max-width: 813px) {
    
    // General
    .wrap, .container {
        grid-template-columns: repeat(1, 1fr);
    }


    .btn {
        margin: 2em;
        max-width: 150px;
    }

    #header {
        .header-a {
            .container {
                p {
                    img {
                        display: grid;
                        margin: auto;
                        width: 100px;
                        padding-bottom: 3em;
                    }
                    
                }
            }
        }
    }

    #home {
        // Section A
        &-a {
            .container {
                grid-template-columns: repeat(1, 1fr);
                .home {
                    
                    &-title {
                        h1 {
                            font-size: 84px;
                            font-size: 15vh;
                        }
                        .lead {
                            font-size: 46px;
                            font-size: 8vh;
                        }
                    }

                    &-btn {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr) !important;
                        grid-gap: 1em;
                        margin: 0 !important;
                        padding: 0 2em;

                        .btn-flip-red, .btn-flip-orange {
                            width: 100%;
                            min-width: 150px;
                            max-width: 500px;
                            margin: auto;
                        }
                    }
                }
            }
        }
        // Home B
        &-b {
            
            .wrap {
                display: flex;
                flex-direction: column-reverse;
                
                // Text
                .bg-red {
                    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
                    -ms-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
                    -o-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
                    -moz-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
                    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
                    
                    div {
                        p {
                            font-size: 22px;
                        }
                    }
                  
                }
            }
        }
        // Section C
        &-c {
            .wrap {
                grid-gap: 0;
            .bg-orange {
                display: block;
                -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
                -ms-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
                -o-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
                -moz-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
                clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
                -webkit-transform: scaleX(1) translateX(0%);
                -ms-transform: scaleX(1) translateX(0%);
                transform: scaleX(1) translateX(0%);

                ul {
                margin: 2em;
                padding: 0;

                li {
                    // list elements

                    
                    // App
                    &:nth-child(1) {
                    max-width: 100%;
                    font-size: 1.5em;
                    padding-top: 3em;
                    }

                    // Link
                    &:nth-child(2) {
                    max-width: 100%;

                    div {
                        position: relative;
                        display: inline-grid;
                        margin-right: 2em;

                        a {
                        
                        font-size: 1.5em;
                        color: #fff;
                        padding: 0 0.25em 0.5em;
                        transition: color 150ms;

                        &:hover {
                            font-size: 1.8em;
                        }
                        }

                        .border-bottom {
                        width: 100%;
                        height: 1px;
                        background: #fff;
                        }
                    }
                    }
                    
                    //Title
                    &:nth-child(3) {
                    max-width: 100%;
                    font-size: 1.5em;
                    padding-top: 2em;
                    }

                    //Newsletter
                    &:nth-child(4) {
                    max-width: 100%;
                    }

                    &:nth-child(5) {
                    max-width: 100%;
                    font-size: 1.5em;
                    }

                    i {
                    margin-right: 0.5em;
                    margin-bottom: 1em;
                    }
                }
                }
            }

            // Image
            .img {
                width: 100%;
                margin: auto auto 0;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                position: relative;
                z-index: -1;
                max-height: 125px;

                img {
                    position: relative;
                }
            }
            }
        }
    }

    #footer {
        .footer {
            &-a {
                -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
                -moz-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
                -ms-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
                -o-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
                padding: 5em 0 2em 0;

                p {
                    font-weight: 100;
                    line-height: 2;
                }

                .container {

                    .center {
                        padding-top: .5em;
                        p {
                            text-align: center;
                           
                            
                            img {
                                width: 200px;
                                margin: auto;
                                padding: 2em;
                            }
                        }
                        
                    }

                    .right {
                        padding-top: 1em;
                        h3 {
                            text-align: center;
                        }
                        ul {
                            li {
                                p {
                                    text-align: center;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }

    // Age Wall
#age_validification {
  
    .modal {
        max-width: 90vw;
        max-height: 90vh;
        margin: auto;
        position: absolute;
        -webkit-box-shadow: 0px 0px 20px 0px #5c565c;
        -moz-box-shadow: 0px 0px 20px 0px #5c565c;
        box-shadow: 0px 0px 20px 0px #5c565c;
        top: 5vh;
        left: 5vw;
  
  
      .inner {
        -webkit-clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0% 100%);
        -moz-clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0% 100%);
        -ms-clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0% 100%);
        -o-clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0% 100%);
        clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0% 100%);

      }
  
      &-inner {
        height: 90%;
        &-logo {  
          height: 50%;  
          margin-bottom: 4em;
          
          img {
            max-width: 50%;
          }
        }
  
        &-wrap {
          display: block;
          

          &-text {
              transform: translateY(0);
              text-align: center;
              font-size: 1.3rem;
              line-height: 1.5;

          }

          &-link {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 10%;
          }
        }      
      }
    }
  }
}

