// Import
@import "utilities";

// General

* {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.lead {
  margin: 0;
  font-size: 36px;
}

.white-space {
  height: 82px;
}

// Header
#header {
  .header-a {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    -o-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);

    img {
      margin: 0 4em;
      width: 100px;
    }
  }
}

// Home
#home {
  // Section A
  &-a {
    margin: 0 4em;
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2em;
      .home {
        // Title
        &-title {
          h1 {
            font-family: "Bebas Neue", cursive;
            font-size: 93px;
            font-weight: 100;
            letter-spacing: 5px;
            color: $purple;
            margin: 0;
          }
          .lead {
            color: $medium-grey;
            
            span {
              color: $red;
            }
          }
        }
        // CTA button
        &-btn {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 2em;
        }
        // GIF
        &-gif {
          img {
            -webkit-transform: translate(0%, -10%);
            -ms-transform: translate(0%, -10%);
            transform: translate(0%, -10%);
          }
        }
      }
    }
  }
  // Section B
  &-b {
    .wrap {
      // Text
      .bg-red {
        -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
        -moz-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
        -ms-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
        -o-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
        -webkit-transform: scaleX(1.2) translateX(-8.4%);
        -ms-transform: scaleX(1.2) translateX(-8.4%);
        transform: scaleX(1.2) translateX(-8.4%);

        p {
          font-size: 32px;
          font-size: 1.5vw;
          margin: 0 20% 0 30%;
          -webkit-transform: scaleX(0.9) translateX(9.9999%);
          -ms-transform: scaleX(0.9) translateX(9.9999%);
          transform: scaleX(0.9) translateX(9.9999%);
        }
      }

      // Image
      .img {
        width: 100%;
        margin: auto auto 0;
      }
    }
  }

  // Section C
  &-c {
    .wrap {
      // Text
      .bg-orange {
        display: flex;
        -webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
        -moz-clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
        -ms-clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
        -o-clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
        -webkit-transform: scaleX(1.5) translateX(16.6%);
        -ms-transform: scaleX(1.5) translateX(16.6%);
        transform: scaleX(1.5) translateX(16.6%);

        ul {
          margin: 0px 12%;
          margin: 0px 6vw;
          padding: 3em 0;
          list-style: none;

          li {
            padding: 1em 0;

            // list elements

            //Title
            &:nth-child(1) {
              max-width: 50%;
              font-size: 28px;
              font-size: 1.8vw;
              padding-top: 0;
            }

            //Newsletter
            &:nth-child(2) {
              max-width: 50%;

              form {
                display: flex;
                justify-content: space-between;

                input {
                  width: 100%;
                  padding: 0.5em;
                  margin-right: 1.5em;
                  border: none;

                  // Email
                  &[type="text"] {
                    color: #ccc;
                    &:focus {
                      outline: 2px solid $blue;
                    }
                  }

                  &[type="button"] {
                    padding: 0 1em;
                    background-color: $blue;
                    color: #fff;
                    border-radius: 0px;
                    -webkit-border-radius: 0px;

                    &:active {
                      background: $red;
                    }

                    &:focus {
                      outline: none;
                    }
                  }
                }
              }
            }

            // App
            &:nth-child(3) {
              max-width: 70%;
              font-size: 1.2vw;
            }

            // Link
            &:nth-child(4) {
              max-width: 80%;

              div {
                position: relative;
                display: inline-grid;
                margin-right: 2em;

                a {
                  position: relative;
                  display: block;
                  font-size: 1.2vw;
                  color: #fff;
                  padding: 0 0.25em 0.5em;
                  transition: font-size 150ms;

                  &:hover {
                    font-size: 1.5vw;
                  }
                }

                .border-bottom {
                  width: 100%;
                  height: 1px;
                  background: #fff;
                }
              }
            }

            &:nth-child(5) {
              max-width: 70%;
              font-size: 1.2vw;
            }

            i {
              margin-right: 0.5em;
              color: #fff;
            }
          }
        }
      }

      // Image
      .img {
        width: 100%;
        margin: 0;
        -webkit-transform: translate(-20%) scaleX(1.5);
        -ms-transform: translate(-20%) scaleX(1.5);
        transform: translate(-20%) scaleX(1.5);
        position: relative;
        z-index: -1;
      }
    }
  }
}

// footer
#footer {
  .footer-a {
    -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    -moz-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    -ms-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    -o-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    text-align: center;
    padding-bottom: 1em;
    p {
      color: #fff;
      padding: 2em;
    }
  }
}

#age_validification {
  display: block;
  position: fixed;
  background: rgba(0,0,0,.5);
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  .modal {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 300px;
    position: relative;
    background: rgba(255,255,255,1);
    margin: calc(50vh - 150px) auto;
    text-align: center;


    .inner {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
      -moz-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
      -ms-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
      -o-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 30% 0, 60% 100%, 0% 100%);
    }

    &-inner {
      position: relative;
      padding: 2em;
      z-index: 1;
      
      &-logo {  
        margin-bottom: 2em;
        img {
          max-width: 75px;
        }
      }

      &-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.5em;
        
        &-text {
          text-align: left;
          color: #fff;
          font-size: 1.25rem;
          transform: translateY(-50%);
        }

        &-link {
          button {
            width: 100%;
            max-width: 150px;
            font-size: 1rem;
          }
          
        }
      }      
    }
  }
}

// Media Query
@import "media";